<section>
    <div class="header">
        <div class="heading">About</div>
        <div class="options" >
            <div (click)="onBack()">Back</div>
        </div>
    </div>

    <div class="content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eum impedit doloribus recusandae velit eligendi maiores nisi totam expedita quibusdam assumenda eveniet, nobis voluptatum possimus. Labore suscipit accusantium, quo architecto quasi repellendus voluptatibus pariatur dolorum sequi vel nam minima ea! Repudiandae, necessitatibus. Consectetur dolores voluptatum omnis architecto in ipsa natus facilis delectus, minima sint distinctio voluptate ratione ullam! Nisi quas doloribus ratione consequuntur optio laborum tempore ipsum ea saepe excepturi ipsa deleniti, aut a veniam tenetur at quisquam vitae eos recusandae assumenda maiores natus eum incidunt laboriosam. Ab similique natus dolor esse fuga, omnis atque dolores labore asperiores, consequuntur debitis!
    </div>
</section>