/* You can add global styles to this file, and also import other style files */
:root{
    --font-family: Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    --primary-color:rgb(52, 49, 72); 
    --secondary-color: rgb(215, 196, 158);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
